<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}">
        <img src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" width="18"> TrustOSS
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}philosophy.html">Philosophy</a></li>
        <li><a href="{{ site.baseurl }}spec.html">Spec</a></li>
        <li><a href="{{ site.baseurl }}files.html">Files</a></li>
      </ul>
    </div>
  </div>
</nav>
